:root {
  --parallaxopacity: 0;
}

.introduction {
  width: 90%;
  margin: 0 auto;
  border-left: 0.25rem solid rgb(128, 128, 128);
  border-right: 0.25rem solid rgb(128, 128, 128);
  padding: 1rem;
}

.invert {
  filter: invert(100%);
}

// Global Colours

$rubble: #1E191A;
$offwhite: #dbdbdb;
$offwhiteinvert: #242424;
$linkgrey: rgb(49, 49, 49);
$offstone: #8C8A8C;
// $stone: rgb(182, 184, 181);
$stone: #B0B0B2;
$navtext: #3D3E3F;
$granite: #636366;

// Global Page Initialize Settings

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: $rubble;
  padding: none;
  margin: none;
}

.topbar {
  position: -webkit-sticky;
  position: sticky;
  
  background-color: $offwhite;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  z-index: 2;
  background-color: $offwhite;
}

// Parallax Styles

// This is the container of the entire page, and will scroll to display new content as you move through the page.
.MainContainer {
  transform-style: preserve-3d;
  height: 100vh;
  // overflow-x: hidden !important;
  overflow-x: hidden;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  background-color: $linkgrey;
  // margin-top: 2rem;
}

// Parallax content is styled by this class
.ParallaxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex: 1 0 auto;
  position: relative;
  height: 60vh;
  transform: translateZ(-1px) scale(2);
  // z-index: -1;
  top: 0px;
  background-image: url(../Images/facefinal.svg);
  background-size: 130%;
  background-position: right;
  background-repeat: no-repeat;
}

// Hide the parallax window scrollbar

::-webkit-scrollbar {
  display: none;
}

.ContentContainer {
  position: relative;
  z-index: 1;
  padding-top: 0;
  background-color: $offwhite;
  border-top: 0.25rem solid rgb(128, 128, 128);
}

// End Parallax styles

.navbar_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: $offwhite;
  border-radius: 0.25rem;
  max-width: auto;
  border-bottom: 0.25rem solid $offwhite;
}

#navbar {
  display: flex;
  flex-direction: row;
  border-top: 0.25rem solid $granite;
  border-bottom: 0.25rem solid $granite;
  justify-content: center;
}

#navbar > .logo-full {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 95vw;
}

.nav-link:hover {
  background-color: $linkgrey;
  transition-duration: 0.5s;
}

.nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  max-width: 100%;
  transition-duration: 0.05s;
  font-size: 1.3rem;
  color: $navtext;
  overflow-x: visible;
  // text-align: center;
}


.logo-full > * {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.logo-part {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.navbar_linkbox {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
}


.fa {
  transition: color 0.5s;
  z-index: 2;
  &:hover {
    color: #000000;
  }
  color: $rubble;
}

// .fa-github {
//   color: #91ab6b;
// }

// .fa-linkedin {
//   color: #ff884a;
// }

// .fa-envelope-o {
//   color: #06ffff;
// }

.MediaLinks {
  background-color: $offwhite;  
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  height: auto;
  font-size: 2.25rem;
  position: sticky;
  top: 0;
}

.textcenter {
  text-align: center;
}

.navbarlogoleft {
  height: 3rem;
}

.navbarlogoright {
  height: 3rem;
  transform: rotate(180deg);
}



.blueback {
  background-color: #3b5998;
}

.mediumcolour {
  background-color: #F0F0EE;
}

.scroll-auto {
  -webkit-overflow-scrolling: auto;
}


.inverted {
  filter: invert(100%);
}

.bannertext {
  font-size: 1.25rem;
}

#bannertextsmall {
  font-size: 0.5rem;
}

.BannerSlogan {
  width: 45vw;
  height: 50%;
  text-shadow: 0 0 0.2rem rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    font-size: 1.75rem;
  }

}

.coderimage {
  filter: invert(100%);
  width: 100%;
  height: auto;
  margin-top: 2rem;

  img {
    width: 100%;
  }
}

.copyright {
  width: 80%;
  padding: 1rem 0;
  background-color: $rubble;
  color: $offwhite;
  text-align: center;

  position: relative;
  bottom: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 475px) {
  .nav-link {
    padding: 0 5.5rem 0 5.5rem;
    font-size: 1.5rem;
  }
}



@media only screen and (min-width: 900px) {
  .BannerSlogan {
    padding-left: 10vw;
  }

  .nav-link {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }

  .navbar_linkbox {
    flex-direction: row;
  }

  .ParallaxContainer {
  background-image: url(../Images/facefinal.svg);
  background-size: 50%;
  background-position: center;

  p {
    padding-right: 25%;
  }
  }

  .MainContainer {
    margin-top: none;
  }

  // #navbar {
    
  // }

  .contactme_container {
    flex-direction: row;

  }
}