:root {
  --parallaxopacity: 0;
}

.introduction {
  width: 90%;
  margin: 0 auto;
  border-left: 0.25rem solid gray;
  border-right: 0.25rem solid gray;
  padding: 1rem;
}

.invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

* {
  margin: none;
  padding: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #1E191A;
  padding: none;
  margin: none;
}

.topbar {
  position: -webkit-sticky;
  position: sticky;
  background-color: #dbdbdb;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-color: #dbdbdb;
}

.MainContainer {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto !important;
  -webkit-overflow-scrolling: touch;
  background-color: #313131;
}

.ParallaxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  height: 60vh;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  top: 0px;
  background-image: url(../Images/facefinal.svg);
  background-size: 130%;
  background-position: right;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

.ContentContainer {
  position: relative;
  z-index: 1;
  padding-top: 0;
  background-color: #dbdbdb;
  border-top: 0.25rem solid gray;
}

.navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #dbdbdb;
  border-radius: 0.25rem;
  max-width: auto;
  border-bottom: 0.25rem solid #dbdbdb;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 0.25rem solid #636366;
  border-bottom: 0.25rem solid #636366;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#navbar > .logo-full {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 95vw;
}

.nav-link:hover {
  background-color: #313131;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  max-width: 100%;
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
  font-size: 1.3rem;
  color: #3D3E3F;
  overflow-x: visible;
}

.logo-full > * {
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

.logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.navbar_linkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  max-width: 100%;
  overflow: auto;
}

.fa {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  z-index: 2;
  color: #1E191A;
}

.fa:hover {
  color: #000000;
}

.MediaLinks {
  background-color: #dbdbdb;
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
  font-size: 2.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.textcenter {
  text-align: center;
}

.navbarlogoleft {
  height: 3rem;
}

.navbarlogoright {
  height: 3rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.blueback {
  background-color: #3b5998;
}

.mediumcolour {
  background-color: #F0F0EE;
}

.scroll-auto {
  -webkit-overflow-scrolling: auto;
}

.inverted {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.bannertext {
  font-size: 1.25rem;
}

#bannertextsmall {
  font-size: 0.5rem;
}

.BannerSlogan {
  width: 45vw;
  height: 50%;
  text-shadow: 0 0 0.2rem white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.BannerSlogan span {
  font-size: 1.75rem;
}

.coderimage {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

.coderimage img {
  width: 100%;
}

.copyright {
  width: 80%;
  padding: 1rem 0;
  background-color: #1E191A;
  color: #dbdbdb;
  text-align: center;
  position: relative;
  bottom: 0;
  margin: 0 auto;
}

@media only screen and (min-width: 475px) {
  .nav-link {
    padding: 0 5.5rem 0 5.5rem;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 900px) {
  .BannerSlogan {
    padding-left: 10vw;
  }
  .nav-link {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
  .navbar_linkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ParallaxContainer {
    background-image: url(../Images/facefinal.svg);
    background-size: 50%;
    background-position: center;
  }
  .ParallaxContainer p {
    padding-right: 25%;
  }
  .MainContainer {
    margin-top: none;
  }
  .contactme_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.blog {
  width: 100%;
}

.ContactContainer {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactcard {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 50%;
  height: 50%;
  text-align: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0.75;
  font-size: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: baseline;
      align-content: baseline;
  text-shadow: 0 0 0.25rem white;
}

.contactcard .fa {
  color: #1E191A;
}

.contactcard:hover {
  opacity: 1;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.contactcard span {
  height: 100%;
  width: 100%;
  padding: 5rem 0;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.contactme_container {
  width: 90vw;
  height: 65vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  border-left: 0.5rem solid #1E191A;
  border-right: 0.5rem solid #1E191A;
}

.linkedback {
  background-color: #00a6ff;
}

.blog_container {
  width: 90vw;
  height: auto;
  background-color: #dbdbdb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.5rem solid #1E191A;
  margin: 0 auto;
}

.blogpost {
  width: 100%;
  height: auto;
  border-bottom: 0.5rem solid #687272;
  background-color: #8C8A8C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-height: 25vh;
  overflow: hidden;
}

.blogpost:first-of-type {
  border-top: 0.5rem solid darkslategrey;
}

.blogpost h2 {
  text-decoration: none;
  text-align: center;
  padding: 0.5rem 0;
}

.post_title {
  width: 20%;
  height: 100%;
  background-color: #8C8A8C;
  font-size: 0.8rem;
  margin: auto 0;
}

.post_thumbnail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20%;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  border-left: 0.5rem solid #636366;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.5rem;
}

.post_thumbnail img {
  max-width: 90%;
  max-height: 95%;
  width: auto;
  height: auto;
  border-radius: 0.5rem;
  margin: auto;
}

.post_content {
  width: 60%;
  padding: 0 1rem;
  background-color: #B0B0B2;
  overflow-x: hidden;
  overflow-y: scroll;
}

.topbar {
  z-index: 4;
}

#orange {
  background-color: #ff7700;
}

@media only screen and (min-width: 900px) {
  .post_thumbnail img {
    width: 50%;
    height: auto;
  }
}
/*# sourceMappingURL=contactstyles.css.map */