@import 'globalstyles.css';

.blog {
  width: 100%;
}

.ContactContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contactcard {
  text-align: center;
  transition: all 0.5s;
  opacity: 0.5;
  font-size: 4rem;
  padding-top: 2rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 50%;
  height: 50%;

  &:hover {
    // height: 50%;
    // width: 100%;
    opacity: 1;
  }
}

.contactme_container {
  width: 100%;
  height: 50vh;
  display: flex;
  // flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  // align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;

}

.linkedback {
  background-color: #0077B5;
}

.blog_container {
  width: 100%;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.5rem solid $rubble;
}

.blogpost {
  width: 100%;
  height: 4rem;
  text-align: center;
}
