:root {
  --parallaxopacity: 0;
}

* {
  margin: none;
  padding: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #371E30;
  padding: none;
  margin: none;
}

.topbar {
  position: -webkit-sticky;
  position: sticky;
  background-color: #d8d8d8;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  background-color: #d8d8d8;
}

.MainContainer {
  height: 100vh;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  background-color: #d8d8d8;
}

.ParallaxContainer {
  -webkit-perspective: 1px;
          perspective: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  position: relative;
  height: 80vh;
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
  z-index: 1;
  top: 0px;
  background-image: url(../Images/facefinal.svg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.ParallaxContainer p {
  padding: 1rem 0rem;
  padding-right: 10%;
}

::-webkit-scrollbar {
  display: none;
}

.ContentContainer {
  position: relative;
  z-index: 1;
  padding-top: 0;
  background-color: #d8d8d8;
  border-top: 0.25rem solid gray;
}

.navbar_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #d8d8d8;
  border-radius: 0.25rem;
  width: auto;
}

#navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-top: 0.25rem solid gray;
  border-bottom: 0.25rem solid gray;
}

#navbar > .logo-full {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto 1fr auto;
      grid-template-columns: auto 1fr auto 1fr auto;
}

.nav-link:hover {
  background-color: darkgrey;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  padding-right: 0;
  height: 100%;
  max-width: 100%;
  -webkit-transition-duration: 0.05s;
          transition-duration: 0.05s;
  font-size: 1.5rem;
  color: #575757;
  overflow: hidden;
}

.logo-full > * {
  padding-left: 0;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

.navbar_linkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem;
  max-width: 100vw;
  overflow: scroll;
}

.fa {
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  z-index: 2;
  color: rgba(160, 160, 160, 0.842);
}

.fa:hover {
  color: #ea4335;
}

.fa-github {
  color: #6e5494;
}

.fa-linkedin {
  color: #0077b5;
}

.fa-envelope-o {
  color: black;
}

.MediaLinks {
  background-color: #d8d8d8;
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  height: auto;
  font-size: 2.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.textcenter {
  text-align: center;
}

.navbarlogoleft {
  height: 3rem;
}

.navbarlogoright {
  height: 3rem;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.contactme_container {
  width: 100vw;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.contactcard {
  width: 80%;
  height: 20%;
  text-align: center;
  border: 1px solid red;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contactcard:hover {
  height: 40%;
}

.blueback {
  background-color: #3b5998;
}

.mediumcolour {
  background-color: #F0F0EE;
}

.scroll-auto {
  -webkit-overflow-scrolling: auto;
}

@media only screen and (min-width: 700px) {
  .nav-link {
    padding-left: 5.5rem;
    padding-right: 5.5rem;
  }
  .navbar_linkbox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .ParallaxContainer {
    background-image: url(../Images/facefinal.svg);
    background-size: contain;
    background-position: top;
  }
  .ParallaxContainer p {
    padding-right: 25%;
  }
  .MainContainer {
    margin-top: none;
  }
  .contactme_container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
/*# sourceMappingURL=globalstyles.css.map */