@import "globalstyles.scss";

.portfolio {
  background-color: $stone;
  height: 80vh;
  width: 90vw;
  margin: 0 auto;
  padding: 0.25rem 0 0 0;
}

.skillbar {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: $stone;
  // padding: 2rem 0;
  border-bottom: 0.5rem solid $rubble;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  &:first-of-type {
    border-top: 0.5rem solid $rubble;
  }
}

.skilldesc {
  width: 75%;
  text-align: center;
  background-color: rgb(168, 156, 156);
  overflow-y: scroll;
  padding: 0 0.5rem;
}

.skilltile {
  width: 25%;
  height: 100%;
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;

  span {
    margin: auto;
  }

  img {
    height: 55%;   
    width: auto;
    align-self: center;
    // padding-bottom: 0.5rem;
  }

  .coderacademy {
    height: 55%;
    width: auto;
    align-self: center;
    filter: brightness(40%);
  }
}

@media only screen and (min-width: 900px) {
  .skilltile {
    font-size: 6rem;

  .coderacademy {
    height: 75%;
    width: auto;}

  }

  
}