@import "globalstyles.scss";


.portfolio {
  background-color: $stone;
  height: 80vh;
  width: 90vw;
  margin: 0 auto;
}

.skillbar {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: $stone;
  // padding: 2rem 0;
  border-bottom: 0.25rem solid $rubble;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;

  &:first-of-type {
    border-top: 0.25rem solid $rubble;
  }
}

.skilldesc {
  width: 75%;
  text-align: center;
  padding-left: 2rem;
  background-color: rgb(161, 143, 143);
}

.skilltile {
  width: 25%;
  height: 100%;
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;

  span {
    margin: auto;
  }

  img {
    height: 65%;   
    align-self: center;
    // padding-bottom: 0.5rem;
  }

  .coderacademy {
    
    height: 50%;
    width: auto;
    align-self: center;
    margin: 0 0 2rem 0;
  }
}