@import 'globalstyles.scss';

.purposecontainer {
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  background-color: $offwhiteinvert;
  padding: 2rem 0;
}

.mypurpose {
  width: 80%;
  border-radius: 0.25rem;
  margin: auto;
  padding: 2rem 1rem;
  background-color: $offwhite;

  h2 {
    margin-bottom: 2rem;
  }
}