@import 'globalstyles.scss';

.purposecontainer {
  width: 90vw;
  height: 100%;
  margin: 0 auto;
  background-color: $offwhiteinvert;
  padding: 2rem 0;
}

.mypurpose {
  width: 100%;
  border-radius: 0.25rem;
  margin: auto;
  padding: 2rem 1rem;
  background-color: $offwhite;
  font-size: 1.25rem;

  h2 {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 700px) {
  .mypurpose {
    width: 80%;
  }
}